<%= form_for(voyage) do |f| %>
  <% if voyage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voyage.errors.count, "error") %> prohibited this voyage from being saved:</h2>

      <ul>
      <% voyage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :depart %>
    <%= f.text_field :depart %>
  </div>

  <div class="field">
    <%= f.label :arrivee %>
    <%= f.text_field :arrivee %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
